

.edit-profile {
    min-height: 100svh;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    h2 {
      text-align: center;
      color: #e55050;
      margin-bottom: 20px;
    }
  
    form {
      max-width: 500px;
      display: flex;
      flex-direction: column;

      .first-part{
        display: flex;
        flex-wrap: wrap;

        
        div {
            // margin-right: 15px;
            margin-bottom: 10px;
            flex-grow: 2;
            flex-basis: 200px;
            display: flex;
            flex-direction: column;
            
      
            label {
              font-weight: bold;
              color: #333;
            }
      
            input{
              margin-top: 10px;
              padding: 8px;
              height: 35px;
              border: none;
              background-color: #F5F5F5;
              outline: none;
            }
          }
          .email , .first-name{
            margin-right: 15px;

          }


        
      }
          @media screen and (max-width: 460px){
            .first-part{
              .email , .first-name{
                  margin-right: 0px;

              }
            }
  
          }
       .second-part{
        display: flex;
        flex-direction: column;
        gap: 10px;
        div {
            margin-bottom: 10px;
            
            
      
            label {
              font-weight: bold;
              color: #333;
            }
      
            input {
              width: 100%;
              height: 35px;
              padding: 8px;
              border: none;
              background-color: #F5F5F5;
              outline: none;
      
              
            }
          }



       }
      
      .btn-setting{
        display: flex;
        justify-content: end;
        width: calc(100% - 15px);

      
        button:nth-child(2){
        background-color: #ea5454;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
  
        &:hover {
          background-color: #c53333;
        }
      }
      button:nth-child(1){
        color: #333;
        font-weight: bold;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;


        &:hover {
           
            background-color: #ccc;
          }
      }
      
    }
      
    }
  }
  