@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
*{
  padding: 0;
  margin: 0;

}
body{
  overflow-x: hidden;
  background-color: #e8e8e8;
  font-family: Poppins;
  scroll-behavior: smooth;

  button{
    cursor: pointer;
  }
  &::-webkit-scrollbar {
      width: 6px;
      /* Set the width of the scrollbar */
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #888;
      /* Color of the scrollbar thumb */
      border-radius: 3px;
      /* Round the corners of the thumb */
    }
  
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
      /* Color of the scrollbar track */
    }
    
  .container{
    max-width: 1270px;
    margin: auto;
    margin-top: 60px;
  }
}
