/* signUp.scss */

.sign-up {
    max-width: 400px;
    min-height: 100svh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // justify-content: center; 
    padding: 20px;
 
  
      h2 {
        text-align: center;
        color: #db4444;
        margin-bottom: 20px; /* Adjusted margin for a more compact layout */
      }
  
      form {
        display: flex;
        flex-direction: column;
       
  
        input {
          margin-bottom: 10px;
          padding: 8px;
          border: none;
          outline: none;
          background: transparent;
          border-bottom: 1px solid #ccc;
          margin-bottom: 20px;
          &::placeholder {
            color: #ccc;
          }
        }
  
        .btn_lab {
          display: flex;
          justify-content: space-between;
  
          button {
            background-color: #db4444;
            color: #fff;
            font-weight: bolder;
            padding: 5px;
            border: none;
            border-radius: 4px;
            width: 45%; /* Adjusted width for a more consistent button size */
            cursor: pointer;
          }
  
          label {
            text-align: center;
            color: #db4444;
          }
  
          label :link:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
  
      .error {
        color: red;
        margin-bottom: 10px;
      }
    }
  
  