.home{
    min-height: 100svh;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    .categories-section{
        display: flex;
        flex-direction: column;
        gap: 15px;

        h3{
            color: rgb(241, 60, 60);

            span{
                padding: 0px 5px;
                background-color: rgb(241, 60, 60);
                border-radius: 4px;
                margin-right: 5px;
            }
        }

        .categories{
            display: flex;
            justify-content: center;
            gap: 40px;


            .category{
                padding: 10px;
                display: flex;
                border: none;
                border-radius: 7px;
                width: 90px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: transparent;
                
                
                
                .icon-holder{
                    font-size: 3rem;
                    
                }
            }
            .category:nth-child(1) {
                background-color: rgb(235, 245, 255); /* Light Blue for Category 2 */
            }

            .category:nth-child(2) {
                background-color: rgb(234, 249, 239); /* Pale Green for Category 3 */
            }
            .category:nth-child(3) {
                background-color: rgb(255, 237, 238); /* Light Blue for Category 2 */
            }

            .category:nth-child(4) {
                background-color: rgb(234, 249, 239); /* Pale Green for Category 3 */
            }

            
        }
            @media screen and (max-width : 535px){
            .categories{
                gap: 10px;
            }
    }
    }

    .today-section{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h3{
            color: rgb(241, 60, 60);

            span{
                padding: 0px 5px;
                background-color: rgb(241, 60, 60);
                border-radius: 4px;
                margin-right: 5px;
            }
        }
        .cards{
            overflow-x: auto;
            white-space: nowrap;
            display: flex;
            gap: 20px;
            padding: 10px 0;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .view-all{
            text-align: right;

            button{
                color: white;
                padding: 8px 13px;
                border-radius: 5px;
                border: none;
                background-color: rgb(255, 76, 89);
            }
        }
    }

    .this-week-section{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h3{
            color: rgb(241, 60, 60);

            span{
                padding: 0px 5px;
                background-color: rgb(241, 60, 60);
                border-radius: 4px;
                
                margin-right: 5px;
            }
        }
        .cards{
            overflow-x: auto;
            white-space: nowrap;
            display: flex;
            gap: 20px;
            padding: 10px 0;



            &::-webkit-scrollbar {
                display: none;
            }
        }

        .view-all{
            text-align: right;

            button{
                color: white;
                padding: 8px 13px;
                border: none;
                border-radius: 5px;
                background-color: rgb(255, 76, 89);
            }
        }
    }


}

